body
{
	background-color: black;
	margin: 0%;
	font-size: large;
}

div
{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

header
{
	background-color: darkblue;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer
{
	background-color: darkblue;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 10px;
	padding-bottom: 10px;
}


main
{
	background-color: #3add31;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	
}

hr
{
	margin: 10px;
}

h2
{
	margin: 7px 0px;
	text-decoration: underline;
}

li
{
	margin: 2px 2px;
}

code
{
	font-family: 'Consolas', monospace;
	font-size: 90%;
	color: #222222;
	background-color: #77777788;
}


.sitename-span
{
	margin-top: 0%;
	margin-bottom: 0%;
	font-family: sans-serif;
	color: deepskyblue;
	margin-left: 20px;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
}

.page-title
{
	background-color: #ccccccdf;

	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
	padding-bottom: 45px;
	text-align: center;
	font-family: serif;
	color: #e4601e;
}

.quote
{
	font-size: larger;
}

.roleplay-momint
{
	width: 65%;
	background-color: #ddddae;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: serif;
}
