:root {
	--pitch-black: #000000;
	--black: #1d1d1d;
	--light-black: #282828;

	--darker-gray: #484848;
	--dark-gray: #626262;
	--gray: #808080;
	--light-gray: #969696;
	--lighter-gray: #aeaeae;

	--off-white: #cfcfcf;
	--white: #ededed;
	--blinding-white: #ffffff;

	--darker-red: #5f0000;
	--dark-red: #9b0303;
	--red: #e00000;
	--light-red: #e84040;
	--lighter-red: #ff6e6e;
}

body {
	margin: 0px;
	padding: 0px;

	font-size: 1.06em;
	color: var(--black);
	background-color: var(--pitch-black);
}

main {
	font-size: 18px;
	width: 80%;
	margin: auto;
	background-color: var(--white);
}

section {
	/* border: solid 1px var(--dark); */
	width: 70%;
	margin: auto;
	padding: 10px 5%;

	border-bottom: solid 2px var(--black);
}

#projects { /* last section */
	border-bottom: 0px;
}

footer {
	margin: 0px;
	padding: 5px 25px;

	background-color: var(--light-black); 
	color: var(--off-white);
}

footer > div > div {
	width: 300px;
}

footer h3 {
	color: var(--red);
}

footer a, footer a:active {
	color: var(--link);
	transition: 0.3s;
}

footer a:hover, footer a:focus {
	color: var(--light-red);
}
