/* Slideshow */

.slideshow {
	display: flex;
	flex-direction: row;
	width: calc(min(500px, 60vw));
	margin: 0 auto;
	border: solid 3px var(--black);
}

.slideshow > button {
	height: 140px;
	width: 1.6em;
	
	margin: 80px auto;
	border: 0px;

	font-size: 1.6em;
}

.slideshow-objects-container {
	margin: 0;
	width: 430px;
	height: 300px;
	padding: 0px;
	display: inline-block;
	overflow: hidden;
}

.slideshow-object {
	position: relative;
	margin: 0px;
	width: calc(min(390px, 50vw - 2em) - 30px);
	height: 264px;
	padding: 15px;
	border: solid 3px var(--black);
}
